.rbcBtn {
    color: inherit;
    font: inherit;
    margin: 0;
}

button.rbcBtn {
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled].rbcBtn {
    cursor: not-allowed;
}

button.rbcInput::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.rbcCalendar {
    box-sizing: border-box;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.rbcCalendarLight {
    background-color: #fff;
}

.rbcCalendarDark {
    background-color: #121212;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    color: #fff;
}

.rbcCalendar *,
.rbcCalendar *:before,
.rbcCalendar *:after {
    box-sizing: inherit;
}

.rbcAbsFull,
.rbcRowBg {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.rbcEllipsis,
.rbcEventLabel,
.rbcShowMore {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rbcRtl {
    direction: rtl;
}

.rbcOffRange {
    color: #999999;
}

.rbcOffRangeBgLight {
    background: #F5F5F5;
}

.rbcOffRangeBgDark {
    background: #121212;
}

.rbcHeader {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 3px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 90%;
    min-height: 0;
}

.rbcHeader > a,
.rbcHeader > a:active,
.rbcHeader > a:visited {
    color: inherit;
    text-decoration: none;
}

.rbcRowContent {
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    z-index: 4;
}

.rbcToolbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.rbcToolbar .rbcToolbarLabel {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 10px;
    text-align: center;
}

.rbcToolbar button {
    color: #373a3c;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    border: 1px solid #ccc;
    padding: .375rem 1rem;
    border-radius: 4px;
    line-height: normal;
    white-space: nowrap;
}

.rbcToolbar button:active,
.rbcToolbar button.rbc-active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    background: #e6e6e6 none;
    border-color: #adadad;
}

.rbcToolbar button:active:hover,
.rbcToolbar button.rbc-active:hover,
.rbcToolbar button:active:focus,
.rbcToolbar button.rbc-active:focus {
    color: #373a3c;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.rbcToolbar button:focus {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.rbcToolbar button:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.rbcBtnGroup {
    display: inline-block;
    white-space: nowrap;
}

.rbcBtnGroup > button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.rbcBtnGroup > button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rbcRtl .rbcBtnGroup > button:first-child:not(:last-child) {
    border-radius: 0 4px 4px 0;
}

.rbcRtl .rbcBtnGroup > button:last-child:not(:first-child) {
    border-radius: 4px 0 0 4px;
}

.rbcBtnGroup > button:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.rbcBtnGroup button + button {
    margin-left: -1px;
}

.rbcRtl .rbcBtnGroup button + button {
    margin-left: 0;
    margin-right: -1px;
}

.rbcBtnGroup + .rbcBtnGroup,
.rbcBtnGroup + button {
    margin-left: 10px;
}

.rbcEvent {
    cursor: pointer;
    padding: 4px 5px;
    font-size: 0.75rem;
}

.rbcEventOverlaps {
    box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}

.rbcEventContinuesPrior {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rbcEventContinuesAfter {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.rbcEventContinuesEarlier {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.rbcEventContinuesLater {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.rbcEventContinuesDayAfter {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.rbcEventContinuesDayPrior {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.rbcRow {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.rbcRowSegment {
    padding: 0 1px 1px 1px;
}

.rbcSelectedCell {
    background-color: rgba(0, 0, 0, 0.1);
}

.rbcShowMore {
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 4;
    font-weight: bold;
    font-size: 85%;
    height: auto;
    line-height: normal;
    white-space: nowrap;
}

.rbcMonthView {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    width: 100%;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
}

.rbcMonthViewLight {
    border: 1px solid #DDD;
}

.rbcMonthViewDark {
    border: 1px solid #424242;
}

.rbcMonthViewLight .rbcHeader {
    border-bottom: 1px solid #DDD;
}

.rbcMonthViewDark .rbcHeader {
    border-bottom: 1px solid #424242;
}

.rbcMonthViewLight .rbcHeader + .rbcHeader {
    border-left: 1px solid #DDD;
}

.rbcMonthViewDark .rbcHeader + .rbcHeader {
    border-left: 1px solid #424242;
}

.rbcRtl .rbcMonthViewLight .rbcHeader + .rbcHeader {
    border-left-width: 0;
    border-right: 1px solid #DDD;
}

.rbcRtl .rbcMonthViewDark .rbcHeader + .rbcHeader {
    border-left-width: 0;
    border-right: 1px solid #424242;
}

.rbcMonthHeader {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.rbcMonthRow {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    -webkit-flex-basis: 0px;
    -ms-flex-preferred-size: 0px;
    flex-basis: 0px;
    overflow: hidden;
    height: 100%;
}

.rbcMonthRowLight + .rbcMonthRowLight {
    border-top: 1px solid #DDD;
}

.rbcMonthRowDark + .rbcMonthRowDark {
    border-top: 1px solid #424242;
}

.rbcDateCell {
    padding: 5px;
    text-align: left;
    font-size: 0.8rem;
}

.rbcDateCell.rbcNow {
    font-weight: bold;
    color: #1565C0;
}

.rbcDateCell > a,
.rbcDateCell > a:active,
.rbcDateCell > a:visited {
    color: inherit;
    text-decoration: none;
}

.rbcRowBg {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    overflow: hidden;
}

.rbcDayBgLight + .rbcDayBgLight {
    border-left: 1px solid #DDD;
}

.rbcRtl .rbcDayBgLight + .rbcDayBgLight {
    border-right: 1px solid #DDD;
}

.rbcDayBgDark + .rbcDayBgDark {
    border-left: 1px solid #424242;
}

.rbcRtl .rbcDayBgDark + .rbcDayBgDark {
    border-right: 1px solid #424242;
}

.rbcRtl .rbcDayBgLight + .rbcDayBgLight, .rbcRtl .rbcDayBgDark + .rbcDayBgDark {
    border-left-width: 0;
}

.rbcOverlayLight, .rbcOverlayDark {
    position: absolute;
    z-index: 5;
    overflow: auto;
    max-height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.rbcOverlayLight {
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

.rbcOverlayDark {
    border: 1px solid #424242;
    background-color: #121212;
}

.rbcOverlayLight > * + *, .rbcOverlayDark > * + * {
    margin-top: 1px;
}

.rbcOverlayHeaderLight, .rbcOverlayHeaderDark {
    margin: -10px -10px 5px -10px;
    padding: 2px 10px;
}

.rbcOverlayHeaderLight {
    border-bottom: 1px solid #e5e5e5;
}

.rbcOverlayHeaderDark {
    border-bottom: 1px solid #424242;
}

.rbcAgendaView {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    overflow: auto;
}

.rbcAgendaViewLight table {
    border: 1px solid #DDD;
}

.rbcAgendaViewDark table {
    border: 1px solid #424242;
}

.rbcAgendaView table {
    width: 100%;
}

.rbcAgendaView table tbody > tr > td {
    padding: 5px 10px;
    vertical-align: top;
}

.rbcAgendaView table .rbcAgendaTimeCell {
    padding-left: 15px;
    padding-right: 15px;
    text-transform: lowercase;
}

.rbcAgendaViewLight table tbody > tr > td + td {
    border-left: 1px solid #DDD;
}

.rbcAgendaViewDark table tbody > tr > td + td {
    border-left: 1px solid #424242;
}

.rbcRtl .rbcAgendaViewLight table tbody > tr > td + td {
    border-right: 1px solid #DDD;
}

.rbcRtl .rbcAgendaViewDark table tbody > tr > td + td {
    border-right: 1px solid #424242;
}

.rbcRtl .rbcAgendaView table tbody > tr > td + td {
    border-left-width: 0;
}

.rbcAgendaViewLight table tbody > tr + tr {
    border-top: 1px solid #DDD;
}

.rbcAgendaViewDark table tbody > tr + tr {
    border-top: 1px solid #424242;
}

.rbcAgendaView table thead > tr > th {
    padding: 3px 5px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

.rbcAgendaViewLight table thead > tr > th {
    border-bottom: 1px solid #DDD;
}

.rbcAgendaViewDark table thead > tr > th {
    border-bottom: 1px solid #424242;
}

.rbcRtl .rbcAgendaView table thead > tr > th {
    text-align: right;
}

.rbcAgendaTimeCell {
    text-transform: lowercase;
}

.rbcAgendaTimeCell .rbcContinuesAfter:after {
    content: ' »';
}

.rbcAgendaTimeCell .rbcContinuesPrior:before {
    content: '« ';
}

.rbcAgendaDateCell,
.rbcAgendaTimeCell {
    white-space: nowrap;
}

.rbcAgendaEventCell {
    width: 100%;
}

.rbcTimeColumn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}

.rbcTimeColumn .rbcTimeslotGroup {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.rbcTimeslotGroup {
    min-height: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.rbcTimeslotGroupLight {
    border-bottom: 1px solid #DDD;
}

.rbcTimeslotGroupDark {
    border-bottom: 1px solid #424242;
}

.rbcTimeGutter,
.rbcHeaderGutter {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.rbcLabel {
    padding: 0 5px;
    font-size: 0.8rem;
}

.rbcDaySlot {
    position: relative;
}

.rbcDaySlot .rbcEventsContainer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 10px;
    top: 0;
}

.rbcDaySlot .rbcEventsContainer.rtl {
    left: 10px;
    right: 0;
}

.rbcDaySlot .rbcEvent {
    color: #fff;
    background-color: #0288D1;
    border: solid #01579B 1px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
    min-height: 20px;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: hidden;
    position: absolute;
}

.rbcDaySlot .rbcEventLabel {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    padding-right: 5px;
    width: auto;
}

.rbcDaySlot .rbcEventContent {
    width: 100%;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    word-wrap: break-word;
    line-height: 1;
    height: 100%;
    min-height: 1em;
}

.rbcEventAllday {
    background-color: #0288D1;
    color: #fff;
}

.rbcEventContent {
    overflow: hidden;
    white-space: nowrap;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.rbcEventHour {
    background-color: #0288D1;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
}

.rbcDaySlot .rbcTimeSlotLight {
    border-top: 1px solid #f7f7f7;
}

.rbcDaySlot .rbcTimeSlotDark {
    border-top: 1px solid #424242;
}

.rbcTimeSlot {
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
}

.rbcTimeSlot.rbcNow {
    font-weight: bold;
}

.rbcDayHeader {
    text-align: center;
}

.rbcSlotSelection {
    z-index: 10;
    position: absolute;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 75%;
    padding: 3px;
}

.rbcTimeView {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    min-height: 0;
}

.rbcTimeViewLight {
    border: 1px solid #DDD;
}

.rbcTimeViewDark {
    border: 1px solid #424242;
}

.rbcTimeView .rbcTimeGutter {
    white-space: nowrap;
}

.rbcTimeView .rbcAlldayCell {
    box-sizing: content-box;
    width: 100%;
    position: relative;
}

.rbcTimeView .rbcAlldayEvents {
    position: relative;
    z-index: 4;
}

.rbcTimeView .rbcRow {
    box-sizing: border-box;
    min-height: 20px;
}

.rbcTimeHeader {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rbcTimeHeaderLight.rbcOverflowing {
    border-right: 1px solid #DDD;
}

.rbcTimeHeaderDark.rbcOverflowing {
    border-right: 1px solid #424242;
}

.rbcRtl .rbcTimeHeaderLight.rbcOverflowing {
    border-right-width: 0;
    border-left: 1px solid #DDD;
}

.rbcRtl .rbcTimeHeaderDark.rbcOverflowing {
    border-right-width: 0;
    border-left: 1px solid #424242;
}

.rbcTimeHeaderLight > .rbcRow > * + * {
    border-left: 1px solid #DDD;
}

.rbcTimeHeaderDark > .rbcRow > * + * {
    border-left: 1px solid #424242;
}

.rbcRtl .rbcTimeHeaderLight > .rbcRow > * + * {
    border-left-width: 0;
    border-right: 1px solid #DDD;
}

.rbcRtl .rbcTimeHeaderDark > .rbcRow > * + * {
    border-left-width: 0;
    border-right: 1px solid #424242;
}

.rbcTimeHeaderLight > .rbcRow:first-child, .rbcTimeHeaderLight > .rbcRow.rbcRow-resource {
    border-bottom: 1px solid #DDD;
}

.rbcTimeHeaderDark > .rbcRow:first-child, .rbcTimeHeaderDark > .rbcRow.rbcRow-resource {
    border-bottom: 1px solid #424242;
}

.rbcTimeHeader .rbcGutterCell {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.rbcTimeHeader > .rbcGutterCell + * {
    width: 100%;
}

.rbcTimeContent {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    overflow-y: auto;
    position: relative;
}

.rbcTimeContentLight {
    border-top: 2px solid #DDD;
}

.rbcTimeContentDark {
    border-top: 2px solid #424242;
}

.rbcTimeContent > .rbcTimeGutter {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.rbcTimeContentLight > * + * > * {
    border-left: 1px solid #DDD;
}

.rbcTimeContentDark > * + * > * {
    border-left: 1px solid #424242;
}

.rbcRtl .rbcTimeContentLight > * + * > * {
    border-left-width: 0;
    border-right: 1px solid #DDD;
}

.rbcRtl .rbcTimeContentDark > * + * > * {
    border-left-width: 0;
    border-right: 1px solid #424242;
}

.rbcTimeContent > .rbcDaySlot {
    width: 100%;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

.rbcCurrentTimeIndicator {
    position: absolute;
    left: 0;
    height: 1px;
    background-color: #74ad31;
    pointer-events: none;
}

.rbcCurrentTimeIndicator::before {
    display: block;
    position: absolute;
    left: -3px;
    top: -3px;
    content: ' ';
    background-color: #74ad31;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.rbcRtl .rbcCurrentTimeIndicator::before {
    left: 0;
    right: -3px;
}
